words-cli/target/
calculator-cli/target/
counter-cli/target/
directory-tree/target/
files-organizer/target/
http-request-cli/target/
json-parser-cli/target/
line-counter/target/
log-cli/target/
palindrone-cli/target/
mnist-bayes-cli/target/
mnist-bayes-cli/data/mnist_test.csv
mnist-bayes-cli/data/mnist_train.csv
mnist-cnn/target/
mnist-cnn/data/mnist_test.csv
mnist-cnn/data/mnist_train.csv
