words-cli/target/
calculator-cli/target/
counter-cli/target/
directory-tree/target/
files-organizer/target/
http-request-cli/target/
json-parser-cli/target/
line-counter/target/
log-cli/target/
palindrone-cli/target/
mnist-bayes-cli/target/
mnist-bayes-cli/data/mnist_test.csv
mnist-bayes-cli/data/mnist_train.csv
mnist-cnn/target/
mnist-cnn/data/mnist_test.csv
mnist-cnn/data/mnist_train.csv
crypto-aes-cli/target/
tcp-checker/target/
sys-monitor/target/
lab-io/calculator-cli/target/
lab-io/counter-cli/target/
lab-io/crypto-aes-cli/target/
lab-io/directory-tree/target/
lab-io/files-organizer/target/
lab-io/http-request-cli/target/
lab-io/json-parser-cli/target/
lab-io/line-counter/src/log-cli/target/
lab-io/line-counter/target/
lab-io/mini-grep/target/
lab-io/palindrone-cli/target/
lab-io/sys-monitor/target/
lab-io/tcp-checker/target/
lab-io/words-cli/target/
lab-ml/mnist-bayes-cli/target/
lab-ml/mnist-cnn/target/
lab-ml/mnist-bayes-cli/data/mnist_test.csv
lab-ml/mnist-bayes-cli/data/mnist_train.csv
lab-ml/mnist-cnn/data/mnist_test.csv
lab-ml/mnist-cnn/data/mnist_train.csv
lab-ml/freq-detector/target/
lab-ml/freq-detector/data/SP.csv
lab-image/image-converter/target/
lab-image/image-grayscale/target/
lab-image/image-resizer/target/
lab-ml/.DS_Store
.DS_Store
lab-image/image-crop/target/
